#Page{
    width: 100%;
    outline:  none;
  }
  .slider-wrapper{
    margin: auto;
    background: #eee;
    margin-top: 150px;
    border:1px solid whitesmoke;
    border-radius: 15px;
    width: 900px;
    padding: 20px;
    height: 400px;
    box-shadow: 1px 2px 3px  whitesmoke;
  }
   #review__card__pic{
    height: 100px !important;
    width: 100px !important;
    border-radius: 100%;
    margin: auto;
    margin-top: -70px;
  }
  
  #paragraph{
    font-size: 20px;
    font-family:  normal,adobe-lean,sans-serif;
  
  }
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
  blockquote{
  font-size: 1.1em;
  margin: auto;
  font-family: normal;
  position: relative;
  }
  
  blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#db5d15;
  font-size:4em;
  position: absolute;
  left: 80px;
  top:-10px;
  }
  
  blockquote::after{
  font-family:Arial;
  content: "\201D";
  color:#db5d15;
  font-size:4em;
  position: relative;
  left: 325px;
  top:-45px;
  }
  .stars{
    width: 100px;
    display: flex !important;
    flex-direction: row !important;
    margin: auto !important;
  }
  .stars i{
    margin: auto !important;
  }

  @media only screen and (max-width: 800px){
    .slider-wrapper{
      margin-top: 100px;
      width: 400px;
      padding: 20px;
      height: 300px;
    }
    #review__card__pic{
      margin: auto;
      margin-top: -70px;
    }
    blockquote::before{
      left: 40px;
      top:-1px;
      }
    blockquote::after{
      left: 55px;
      top:-15px;
      }
  }  

